-- Create the students table
CREATE TABLE student_marks (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    math INT,
    science INT,
    english INT
);

-- Insert data for 5 students
INSERT INTO student_marks VALUES
(1, 'Aarav', 85, 78, 92),
(2, 'Isha', 90, 88, 84),
(3, 'Rohan', 76, 69, 80),
(4, 'Meera', 88, 91, 95),
(5, 'Kabir', 70, 75, 68);

-- Query to calculate average marks
SELECT 
    student_id,
    name,
    (math + science + english)/3 AS average_marks
FROM student_marks
ORDER BY average_marks DESC;
